# Telegram Bot Configuration
BOT_TOKEN=your_bot_token_here
OWNER_IDS=8747221712
CO_OWNER_IDS=5769074791

# TiDB Cloud Configuration
TIDB_HOST=6dc98ec1-997e-432d-bc2a-610fefb2d3fb
TIDB_PORT=4000
TIDB_USER=83EHILJ0
TIDB_PASSWORD=13372192-371c-4d86-8378-89ad42f3b104
TIDB_DATABASE=volt_hosting

# Optional Settings
BOT_USERNAME=YourBotUsername
REQUIRED_GROUP_ID=-1004304252893
REQUIRED_GROUP_LINK=https://t.me/+0SoZTE1W57gxYTBk
REQUIRED_CHANNEL_ID=-1003739475692
REQUIRED_CHANNEL_LINK=https://t.me/VOLT_CHANNEL_UP
PAYMENT_DESTINATION=your_upi_id
SUPPORT_CONTACT=@Volt_feedback_bot